<?xml version="1.0" ?>
<robot name="test_inductor">
    <link name="base_link">
	<inertial>
	    <mass value="1"/>
	    <origin xyz="0 0 0"/>
	    <inertia ixx="1" ixy="0" ixz="0" iyx="0" iyy="1" iyz="0" izx="0" izy="0" izz="1" />
	</inertial>
	<visual>
	    <origin rpy="0 0 0" xyz="0 0 0" />
	    <geometry>
		<box size="0.001 0.001 0.001" />
	    </geometry>
	</visual>
	<collision>
	    <origin rpy="0 0 0" xyz="0 0 0" />
	    <geometry>
		<box size="0.001 0.001 0.001" />
	    </geometry>
	</collision>
    </link>

    <force_element name="prop1">
	<induction_coupler lower_limit="0" upper_limit="10" scale_factor_thrust="1.0" scale_factor_moment="0.0245">
	    <parent link="base_link"/>
	    <origin xyz="0 0 0"/>
	    <axis xyz="0 1 0"/>
	</induction_coupler>
    </force_element>
</robot>
